<mat-tab-group dynamicHeight=true class="module-background" (swipeleft)="onSwipe($event)" (swiperight)="onSwipe($event)" (selectedIndexChange)="onIndexChange($event)" [selectedIndex]="tabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">list_alt</mat-icon>
      <span class="primary-color" fxHide.xs>My Actions</span>
    </ng-template>
    <app-my-actions></app-my-actions>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">search</mat-icon>
      <span class="primary-color" fxHide.xs>Search</span>
    </ng-template>
    <app-action-log></app-action-log>
  </mat-tab>
</mat-tab-group>

