.module-background {
  background-color: rgb(250,255,250);
}

.section-xs {
  width:98%;
}

.section-gt-xs {
  width:45%;
}

.tab-content {
  margin-left: 10px;
  margin-right: 10px;
}

.section-message {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

mat-form-field {
  width:300px;
}

mat-list{
  margin-bottom: 10px;
}

.row-height {
  height: 100%;
}

.row-width {
  width: 100%;
}

.message {
  width: 80%;
  overflow-wrap: break-word;
}

.section-title {
  font-weight: 300;
}

.light-button {
  font-weight: 300;
}

.primary-color {
  color: #388E3C;
}

.curvy-toolbar {
  border-radius: 15px 15px 0px 0px;
}

.curvy-content {
  border: 1px solid #388E3C;
  border-radius: 0px 0px 15px 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}
