<div
  [ngStyle.xs]="getCalendarWeekViewStyle(calendarSize.XS)"
  [ngStyle.gt-xs]="getCalendarWeekViewStyle(calendarSize.SM)"
  [ngStyle.gt-sm]="getCalendarWeekViewStyle(calendarSize.MD)"
  [ngStyle.gt-md]="getCalendarWeekViewStyle(calendarSize.LG)">
  <div *ngIf="isLoading" [ngStyle.xs]="getLoadingStyle(calendarSize.XS)"
       [ngStyle.gt-xs]="getLoadingStyle(calendarSize.SM)"
       [ngStyle.gt-sm]="getLoadingStyle(calendarSize.MD)"
       [ngStyle.gt-md]="getLoadingStyle(calendarSize.LG)">
       Loading...
  </div>
  <div
      [ngStyle.xs]="getTopCornerCellOneStyle(calendarSize.XS)"
      [ngStyle.gt-xs]="getTopCornerCellOneStyle(calendarSize.SM)"
      [ngStyle.gt-sm]="getTopCornerCellOneStyle(calendarSize.MD)"
      [ngStyle.gt-md]="getTopCornerCellOneStyle(calendarSize.LG)">
    <span fxHide fxShow.xs>{{ ds.getMonthShortName(anydate) }}</span>
    <span fxHide fxShow.gt-xs> {{ ds.getMonthLongName(anydate) }}</span>
  </div>
  <div
      [ngStyle.xs]="getTopCornerCellTwoStyle(calendarSize.XS)"
      [ngStyle.gt-xs]="getTopCornerCellTwoStyle(calendarSize.SM)"
      [ngStyle.gt-sm]="getTopCornerCellTwoStyle(calendarSize.MD)"
      [ngStyle.gt-md]="getTopCornerCellTwoStyle(calendarSize.LG)">
      {{ anydate.getFullYear() }}
  </div>

  <div
    [ngStyle.xs]="getHeaderOneStyle(calendarSize.XS)"
    [ngStyle.gt-xs]="getHeaderOneStyle(calendarSize.SM)"
    [ngStyle.gt-sm]="getHeaderOneStyle(calendarSize.MD)"
    [ngStyle.gt-md]="getHeaderOneStyle(calendarSize.LG)">
    <span>{{ds.getWeekdayLongName(anydate.getDay())}}</span>
  </div>
  <div
    [ngStyle.xs]="getHeaderTwoStyle(calendarSize.XS)"
    [ngStyle.gt-xs]="getHeaderTwoStyle(calendarSize.SM)"
    [ngStyle.gt-sm]="getHeaderTwoStyle(calendarSize.MD)"
    [ngStyle.gt-md]="getHeaderTwoStyle(calendarSize.LG)">
    {{ anydate.getDate() }}
  </div>
  <div *ngFor="let hourLabel of ds.getTwelveHoursLabelsEveryHour(); index as hourNumber"
    [ngStyle.xs]="getSideStyle(hourNumber,calendarSize.XS)"
    [ngStyle.gt-xs]="getSideStyle(hourNumber,calendarSize.SM)"
    [ngStyle.gt-sm]="getSideStyle(hourNumber,calendarSize.MD)"
    [ngStyle.gt-md]="getSideStyle(hourNumber,calendarSize.LG)">
    <span *ngIf="hourNumber > 0">{{ hourLabel }}</span>
  </div>
  <div *ngFor="let hourLabel of ds.getTwelveHoursLabelsEveryHour(); index as hourNumber"
    [ngStyle.xs]="getHourStyle(hourNumber,calendarSize.XS)"
    [ngStyle.gt-xs]="getHourStyle(hourNumber,calendarSize.SM)"
    [ngStyle.gt-sm]="getHourStyle(hourNumber,calendarSize.MD)"
    [ngStyle.gt-md]="getHourStyle(hourNumber,calendarSize.LG)">
  </div>
  <ng-container *ngIf="!isLoading">
    <div *ngFor="let meeting of meetings"
      [id] = "meeting.id"
      (click) = "onMeetingClicked(meeting)"
      [ngStyle.xs]="getMeetingStyle(meeting,calendarSize.XS)"
      [ngStyle.gt-xs]="getMeetingStyle(meeting,calendarSize.SM)"
      [ngStyle.gt-sm]="getMeetingStyle(meeting,calendarSize.MD)"
      [ngStyle.gt-md]="getMeetingStyle(meeting,calendarSize.LG)">
      <span>
        <mat-icon *ngIf="attendeeResponseMap.get(meeting.id)===attendeeResponse.Declined" inline=true color="warn">cancel</mat-icon>
        <strong>{{ meeting.subject }}</strong>
      </span>
      <span>{{ meeting.meetingRoom.name }}, {{ meeting.location.name }}</span>
    </div>
  </ng-container>

</div>
