<section fxLayout="column" fxLayoutAlign="start center" class="row-height module-background">
  <div *ngIf="!isLoading" class="toolbar primary-border" ngClass.xs="container-xs" ngClass.gt-xs="container-sm" ngClass.gt-sm="container-md" ngClass.gt-md="container-lg">
    <mat-icon color="primary">date_range</mat-icon>
    <div class="primary-color">Meeting Details</div>
    <div class="spacer"></div>
    <button *ngIf="!isOrganizer" mat-icon-button [matMenuTriggerFor]="responseMenu">
      <span class="disabled-color light-button" *ngIf="!getInvitationResponseByEmail(email).responseDate"><mat-icon>error_outline</mat-icon></span>
      <span class="primary-color light-button" *ngIf="getInvitationResponseByEmail(email).responseDate && getInvitationResponseByEmail(email).response"><mat-icon>event_available</mat-icon></span>
      <span class="warn-color light-button" *ngIf="getInvitationResponseByEmail(email).responseDate && !getInvitationResponseByEmail(email).response"><mat-icon>event_busy</mat-icon></span>
    </button>
    <mat-menu #responseMenu="matMenu">
      <button *ngIf="!isOrganizer" mat-menu-item (click)="accept()">
        <mat-icon color="primary">done</mat-icon>
        <span class="primary-color">Accept</span>
      </button>
      <button *ngIf="!isOrganizer" mat-menu-item  (click)="decline()">
        <mat-icon color="warn">close</mat-icon>
        <span class="warn-color">Decline</span>
      </button>
    </mat-menu>
    <button *ngIf="isOrganizer" mat-icon-button color="primary" (click)="editMeeting()"><mat-icon svgIcon="outline-edit"></mat-icon></button>
    <button mat-icon-button color="primary" (click)="viewMinutes()"><mat-icon svgIcon="outline-description"></mat-icon></button>
    <button mat-icon-button color="primary" (click)="viewCalendar()"><mat-icon>calendar_today</mat-icon></button>
  </div>
  <div *ngIf="!isLoading" ngClass="main-body" ngClass.xs="container-xs" ngClass.gt-xs="container-sm" ngClass.gt-sm="container-md" ngClass.gt-md="container-lg">
    <div *ngIf="meeting.canceled" ngClass="form-item">
      <mat-icon color="warn">warning</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div ngClass="form-field">
        <span class="warn-color">This meeting has been canceled</span>
      </div>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary">event_note</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div ngClass="form-field">
        <span class="subject primary-color">{{ meeting.subject }}</span>
      </div>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary">person_outline</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div class="form-field">
        <mat-chip-list >
          <mat-chip color="primary" selected>{{ meeting.organizer }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary">people_outline</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div class="form-field">
        <mat-chip-list #invitationsChipList>
          <ng-container *ngFor="let invitation of meeting.invitations">
            <mat-chip *ngIf="!getInvitationResponseByEmail(invitation).responseDate && invitation !== meeting.organizer">{{ invitation }}</mat-chip>
            <mat-chip *ngIf="getInvitationResponseByEmail(invitation).responseDate" [color]="getInvitationResponseByEmail(invitation).response || invitation === meeting.organizer ?'primary' : 'warn'" selected>
              {{ invitation }}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </div>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary" svgIcon="writing"></mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div class="form-field">
        <mat-chip-list #scribesChipList>
          <ng-container  *ngFor="let scribe of meeting.scribes">
              <mat-chip *ngIf="!getInvitationResponseByEmail(scribe).responseDate && scribe !== meeting.organizer">{{ scribe }}</mat-chip>
              <mat-chip *ngIf="getInvitationResponseByEmail(scribe).responseDate || scribe === meeting.organizer" [color]="getInvitationResponseByEmail(scribe).response || scribe === meeting.organizer ?'primary' : 'warn'" selected>{{ scribe }}</mat-chip>
          </ng-container>
        </mat-chip-list>
      </div>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary" svgIcon="outline-meeting_room"></mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div>
        {{meeting.meetingRoom.name}}, {{meeting.location.name }}
      </div>
      <a *ngIf="selectedLocationUrl" mat-icon-button [href]="selectedLocationUrl" target="_blank"><mat-icon color="primary" svgIcon="outline-map"></mat-icon></a>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary">today</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div>
        {{meeting.start | date: 'longDate'}}
      </div>
    </div>
    <div ngClass="form-item">
      <mat-icon color="primary">access_time</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div>
        {{ds.getFromTwelveHoursEveryHalf(meeting.start).text}} - {{ds.getFromTwelveHoursEveryHalf(meeting.end).text}}
      </div>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</section>

