.primary-color {
  color: #388E3C;
}

mat-form-field{
  width:200px;
}
mat-form-field.medium{
  width:115px;
}
mat-form-field.small{
  width:75px;
}

.light-button {
  padding-left: 0px;
  font-weight: 300;
}

mat-dialog-content {
  height: 310px;
}

.section-title {
  margin-top: 10px;
}
