<div
  [ngStyle.xs]="getCalendarWeekViewStyle(calendarSize.XS)"
  [ngStyle.gt-xs]="getCalendarWeekViewStyle(calendarSize.SM)"
  [ngStyle.gt-sm]="getCalendarWeekViewStyle(calendarSize.MD)"
  [ngStyle.gt-md]="getCalendarWeekViewStyle(calendarSize.LG)">
  <div *ngIf="isLoading" [ngStyle.xs]="getLoadingStyle(calendarSize.XS)"
       [ngStyle.gt-xs]="getLoadingStyle(calendarSize.SM)"
       [ngStyle.gt-sm]="getLoadingStyle(calendarSize.MD)"
       [ngStyle.gt-md]="getLoadingStyle(calendarSize.LG)">
       Loading...
  </div>
  <div
      [ngStyle.xs]="getTopCornerCellOneStyle(calendarSize.XS)"
      [ngStyle.gt-xs]="getTopCornerCellOneStyle(calendarSize.SM)"
      [ngStyle.gt-sm]="getTopCornerCellOneStyle(calendarSize.MD)"
      [ngStyle.gt-md]="getTopCornerCellOneStyle(calendarSize.LG)">
    <span fxHide fxShow.xs>W{{ ds.getWeekNumber(anydate) }}</span>
    <span fxHide fxShow.gt-xs>Week {{ ds.getWeekNumber(anydate) }}</span>
  </div>
  <div
      [ngStyle.xs]="getTopCornerCellTwoStyle(calendarSize.XS)"
      [ngStyle.gt-xs]="getTopCornerCellTwoStyle(calendarSize.SM)"
      [ngStyle.gt-sm]="getTopCornerCellTwoStyle(calendarSize.MD)"
      [ngStyle.gt-md]="getTopCornerCellTwoStyle(calendarSize.LG)">
      {{ ds.getWeekYear(anydate)}}
  </div>
  <ng-container *ngFor="let weekday of ds.getWeekdayNames(); index as weekdayNumber">
    <div
      [ngStyle.xs]="getHeaderOneStyle(weekdayNumber,calendarSize.XS)"
      [ngStyle.gt-xs]="getHeaderOneStyle(weekdayNumber,calendarSize.SM)"
      [ngStyle.gt-sm]="getHeaderOneStyle(weekdayNumber,calendarSize.MD)"
      [ngStyle.gt-md]="getHeaderOneStyle(weekdayNumber,calendarSize.LG)">
      <span fxHide fxShow.xs>{{weekday.short}}</span>
      <span fxHide fxShow.gt-xs>{{weekday.long}}</span>
    </div>
    <div
      [ngStyle.xs]="getHeaderTwoStyle(weekdayNumber,calendarSize.XS)"
      [ngStyle.gt-xs]="getHeaderTwoStyle(weekdayNumber,calendarSize.SM)"
      [ngStyle.gt-sm]="getHeaderTwoStyle(weekdayNumber,calendarSize.MD)"
      [ngStyle.gt-md]="getHeaderTwoStyle(weekdayNumber,calendarSize.LG)">
      {{ ds.getDayOfWeekDate(anydate, weekdayNumber).getDate() }}
    </div>
    <div *ngFor="let hourLabel of ds.getTwelveHoursLabelsEveryHour(); index as hourNumber"
      [ngStyle.xs]="getSideStyle(hourNumber,calendarSize.XS)"
      [ngStyle.gt-xs]="getSideStyle(hourNumber,calendarSize.SM)"
      [ngStyle.gt-sm]="getSideStyle(hourNumber,calendarSize.MD)"
      [ngStyle.gt-md]="getSideStyle(hourNumber,calendarSize.LG)">
      <span *ngIf="hourNumber > 0">{{ hourLabel }}</span>
    </div>
    <div *ngFor="let hourLabel of ds.getTwelveHoursLabelsEveryHour(); index as hourNumber"
      [ngStyle.xs]="getHourStyle(weekdayNumber, hourNumber,calendarSize.XS)"
      [ngStyle.gt-xs]="getHourStyle(weekdayNumber, hourNumber,calendarSize.SM)"
      [ngStyle.gt-sm]="getHourStyle(weekdayNumber, hourNumber,calendarSize.MD)"
      [ngStyle.gt-md]="getHourStyle(weekdayNumber, hourNumber,calendarSize.LG)">
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <div *ngFor="let meeting of meetings"
      [id] = "meeting.id"
      (click) = "onMeetingClicked(meeting)"
      [ngStyle.xs]="getMeetingStyle(meeting,calendarSize.XS)"
      [ngStyle.gt-xs]="getMeetingStyle(meeting,calendarSize.SM)"
      [ngStyle.gt-sm]="getMeetingStyle(meeting,calendarSize.MD)"
      [ngStyle.gt-md]="getMeetingStyle(meeting,calendarSize.LG)">
      <span>
        <mat-icon *ngIf="attendeeResponseMap.get(meeting.id)===attendeeResponse.Declined" inline=true color="warn">cancel</mat-icon>
        <strong>{{ meeting.subject }}</strong>
      </span>
      <span>{{ meeting.meetingRoom.name }}, {{ meeting.location.name }}</span>
    </div>
  </ng-container>
</div>
